/* ===========================
      ESTILO PRINCIPAL
=========================== */

body {
  background-color: #0c0c0c;
  color: #fff;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  padding-top: 50px;
}

/* ===========================
    CARD DE PAGAMENTO
=========================== */

.payment-card {
  background-color: #1a1a1a;
  border-radius: 15px;
  padding: 2rem;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
  max-width: 500px;
  margin: auto;
  border: 1px solid rgba(255,255,255,0.06);
}

.payment-card h2 {
  color: #ff6600;
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 28px;
}

/* ===========================
     CAMPOS DO FORMULÁRIO
=========================== */

.form-control,
.form-select {
  background-color: #2a2a2a;
  border: 1px solid #333;
  color: #fff;
  padding: 12px;
  border-radius: 10px;
  transition: 0.2s ease;
}

.form-control::placeholder {
  color: #aaa;
}

.form-control:focus,
.form-select:focus {
  background-color: #333;
  border-color: #ff6600;
  color: #fff;
  box-shadow: 0 0 0 0.2rem rgba(255, 102, 0, 0.25);
}

label {
  font-weight: 500;
}

/* ===========================
     BLOCO VALOR FINAL
=========================== */

.valor-final-box {
  background-color: #2a2a2a;
  border: 1px solid #333;
  padding: 1rem;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.valor-final-box span {
  color: #ccc;
}

.valor-final-box strong {
  color: #ff6600;
  font-size: 20px;
  font-weight: 700;
}

/* ===========================
           BOTÕES
=========================== */

.btn-pagar {
  background-color: #ff6600;
  border: none;
  color: #fff;
  font-weight: 600;
  width: 100%;
  padding: 0.8rem;
  border-radius: 8px;
  transition: 0.3s;
  font-size: 16px;
  margin-top: 10px;
}

.btn-pagar:hover {
  background-color: #fff;
  color: #ff751f;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.288);
}

.btn-voltar {
  background-color: transparent;
  border: 1px solid #ccc;
  color: #ccc;
  margin-top: 1rem;
  width: 100%;
  padding: 0.8rem;
  border-radius: 8px;
  transition: 0.3s;
}

.btn-voltar:hover {
  border-color: #ff6600;
  color: #ff6600;
}

/* ===========================
           RODAPÉ
=========================== */

footer {
  text-align: center;
  color: #777;
  margin-top: 3rem;
  font-size: 0.9rem;
}
