
    #bg-light {
      background-color: #000000;
      font-family: 'Poppins', sans-serif;
      color: #333;
      min-height: 100vh;
      width: 100%;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 1200px;
      background-color: #000000;
      height: 100%;
      padding: 20px;
    }

    h2 {
      font-weight: 700;
      color: #ff751f;
    }

    .card {
      border: none;
      border-radius: 20px;
      overflow: hidden;
      background: #fff;
      transition: all 0.3s ease;
      box-shadow: 0 4px 20px rgba(0,0,0,0.05);
      min-height: 400px;
    }

    .card:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 25px rgba(0,0,0,0.1);
    }

    .card-img-top {
      height: 220px;
      object-fit: cover;
      border-bottom: 3px solid #007bff;
    }

    .card-body {
      padding: 20px;
    }

    .card-title {
      color: #111;
      font-size: 1.2rem;
      margin-bottom: 10px;
    }

    .card-body p {
      font-size: 0.9rem;
      margin-bottom: 6px;
      color: #555;
    }

    .btn-outline-danger {
      border-radius: 10px;
      font-weight: 500;
      transition: all 0.3s;
    }

    .btn-outline-danger:hover {
      background-color: #dc3545;
      color: white;
      box-shadow: 0 2px 10px rgba(220, 53, 69, 0.3);
    }

    .btn-outline-dark {
      border-radius: 10px;
      font-weight: 500;
      background-color: #ff751f;
      color: #fff;
      border: none;
      padding: 8px 16px;
      transition: all 0.3s ease;
    }

    .btn-outline-dark:hover {
      background-color: #fff;
      color: #ff751f;
      box-shadow: 0 2px 10px rgba(255, 117, 31, 0.3);
    }

    .btn-danger {
      border-radius: 10px;
      font-weight: 500;
    }

    .btn-primary {
      border-radius: 12px;
      font-weight: 600;
      padding: 12px 24px;
      font-size: 1.1rem;
      box-shadow: 0 4px 15px rgb(255, 255, 255);
      transition: all 0.3s ease;
      background-color: #ff751f;
      border-color: #ff751f;
       border-radius: 10px;
      font-weight: 500;
      transition: all 0.3s;
    }

    .btn-primary:hover {
      background-color: #ffffff;
      box-shadow: 0 6px 20px #ff751f;
      color: #ff751f;
      border-color: #ffffff;
    }

    .text-center.py-5 {
      background: #fff;
      border-radius: 20px;
      padding: 50px 20px;
      box-shadow: 0 4px 20px rgba(0,0,0,0.05);
    }

    .text-muted {
      font-size: 1.2rem;
    }

    .fw-bold {
      color: #ff751f;
    }

    @media (max-width: 768px) {
      .card-img-top {
        height: 180px;
      }

      .card-body {
        padding: 15px;
      }

      .btn-primary {
        width: 100%;
      }
      

      }
      .btn-finalizar{
         border-radius: 12px;
      font-weight: 600;
      padding: 12px 24px;
      font-size: 1.1rem;
      box-shadow: 0 4px 15px rgb(255, 255, 255);
      transition: all 0.3s ease;
      background-color: #ff751f;
      border-color: #ff751f;
    }
    
