#btnSalvar{
    background-color: #ff751f;
    border-color: #ff751f;
}

#btnSalvar:hover{
    background-color: #ff4400;
    border-color: #ff4400;
}

#bg-light{
        background-color: black;
    }

.choices__list--multiple .choices__item {
    background-color: #fd7e14 !important;
    border: 1px solid #fd7e14 !important;
    color: #fff !important;
    font-weight: 500;
  }

